@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

@import "./colors.scss";

* {
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.4em;
}

p {
  font-size: 1em;
}

span {
  color: $base-color;
}
