@import "../style/colors.scss";

.header {
  box-shadow: 0px 3px 23px 0px rgba(66, 68, 90, 0.5);

  &__content {
    position: relative;
  }

  &__input {
    width: 100%;
    padding: 8px 15px;
    padding-left: 45px;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.836);
    border: 1px solid $grey;
    background-color: $light-grey;
    font-size: 20px;
    outline: none;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 30px;
    padding-right: 4px;
    border-right: 1px solid $dark-grey;
  }
}
